# 로컬 개발 및 연결 검사에 사용하는 ClearML endpoint 예시이다.
CLEARML_API_HOST="http://<CLEARML_SERVER_IP>:8008"
CLEARML_WEB_HOST="http://<CLEARML_SERVER_IP>:8080"
CLEARML_FILES_HOST="http://<CLEARML_SERVER_IP>:8081"
CLEARML_API_ACCESS_KEY="<CLEARML_API_ACCESS_KEY>"
CLEARML_API_SECRET_KEY="<CLEARML_API_SECRET_KEY>"

# 모든 Worker에서 동일하게 마운트하는 NAS 경로이다.
ML_DATA_ROOT=/mnt/ml-data
ML_RESULT_ROOT=/mnt/ml-results

# Worker가 수신할 Queue와 사용할 GPU 범위이다.
CLEARML_QUEUE="<CLEARML_QUEUE_NAME>"
CLEARML_AGENT_GPU=all
